<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="w-full py-3 px-16 bg-black flex text-white">
            <a href="/" class="flex basis-8/12">Recipes</a>
            <div class="flex basis-4/12 justify-between">
                <a href="{% url 'my_recipes' user.id %}">My recipes</a>
                <a href="{% url "addRecipe" %}">Add recipe</a>
                {% if user.is_authenticated %}
                <a href="{% url "logout" %}">{{ user.username }}</a>
                {% else %}
                <a href="{% url "login" %}">Login</a>
                <a href="{% url "register_user" %}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="max-w-lg mx-auto my-0">
        <div class="w-full flex flex-col my-16">
            {% if messages %}
            {% for message in  messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>