{% extends 'core/base.html' %}

{% block content %}
    Rating: {{sum_of_stars}}
    <div class="image mr-4 h-32 w-42 overflow-hidden">
        <img class="object-contain w-full h-full" src="{{ recipe.image.url }}">
    </div>
    <div>Name: {{recipe.name}}</div>
    <div>Ingredients: {{recipe.ingredients}}</div>
    <div>Description: {{recipe.description}}</div>

    {% if user.is_authenticated %}
    <!-- Display the comment form for logged-in users -->
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Comment</button>
    </form>
    {% else %}
        <!-- Display links to login and registration pages for not logged-in users -->
        <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register_user' %}">register</a> to leave a comment.</p>
    {% endif %}

    {% comment %} <form class="flex flex-col" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {{form.errors}}
        <input class="border mt-6" type="submit">
    
    </form> {% endcomment %}

    {% for com in comment %}
    <div class="mt-2">Rate: {{com.stars}}</div>
    <div>Comment: {{com.description}}</div>
    <div class="mb-4">Author: {{com.owner.username}}</div>
    {% endfor %}
    


{% endblock content %}